@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;

  #main__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;

    .text {
      margin-bottom: 20px;

      &__big {
        text-transform: uppercase;
      }

      &__status {
        margin-top: 20px;
        font-size: 18px;
      }
    }

    #game__container {
      .board-row:after {
        clear: both;
        content: "";
        display: table;
      }

      .square {
        background: #fff;
        border: 2px solid rgb(148, 205, 255);
        border-radius: 15px;
        float: left;
        font-size: 70px;
        height: 120px;
        width: 120px;
        margin: 5px;
        text-align: center;
        color: rgb(148, 205, 255);
      }

      .restart {
        padding: 15px;
        border-radius: 20px;
        border: none;
        margin-top: 20px;
        background-color: rgb(148, 205, 255);
        font-family: "Raleway", sans-serif;
        font-size: 16px;
      }
    }
  }
}
