@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

$DarkColor: rgb(121, 170, 213);
$MidColor: rgb(196, 226, 252);
$LightColor: aliceblue;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Orbitron", sans-serif;

  #main__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $DarkColor;
    color: $LightColor;

    .text {
      margin-bottom: 20px;

      &__big {
        text-transform: uppercase;
      }

      &__status {
        margin-top: 20px;
        font-size: 20px;
      }
    }

    #game__container {
      .board-row:after {
        clear: both;
        content: "";
        display: table;
      }

      .square {
        background-color: rgb(196, 226, 252);
        border: 2px solid rgb(121, 170, 213);
        border-radius: 15px;
        float: left;
        font-size: 70px;
        height: 120px;
        width: 120px;
        margin: 5px;
        text-align: center;
        color: rgb(121, 170, 213);
        transition: transform 0.2s ease-out;

        &:hover {
          background-color: $LightColor;
          transform: scale(1.05);
        }

        @media screen and (max-width: 480px) {
          height: 90px;
          width: 90px;
          font-size: 50px;
        }
      }

      .restart {
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
        font-weight: 600;
        margin-top: 20px;
        background-color: $MidColor;
        font-family: "Orbitron", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: $DarkColor;
        transition: transform 0.2s ease-out;

        &:hover {
          transform: scale(1.05);
          background-color: $LightColor;
        }
      }
    }
  }
}
